%script{src: "//api.trello.com/1/client.js?key=#{Settings.trello.developer_public_key}"}
:javascript
  function AuthenticateTrello() {
    Trello.authorize({
      name: "xz's Trello",
      type: "popup",
      interactive: true,
      expiration: "never",
      persist: true,
      success: function () { onAuthorizeSuccessful(); },
      error: function() { onFailedAuthorization(); },
      scope: { write: true, read: true, account: true },
    });

    return 0;
  }
  function onAuthorizeSuccessful() {
    var token = Trello.token();
    window.location.replace("/auth?token=" + token);
  }
  function onFailedAuthorization() {
    alert('Authentication failed.');
  }

%a.btn.btn-primary{onClick: "AuthenticateTrello()"}
  Connect With Trello
